body {
  background: #F5F5F5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* About */
.about {
  margin-bottom: 6vh;
  margin-left: 3vw;
  margin-top: 3vh;
}

/* CharityDetail */
.activities-title, .need-title, .summary-title  {
  font-weight: bold;
}

.detail-highlight {
  color: darkorange;
  font-weight: bold;
  padding: 4px;
}

.donation-button {
  background: darkorange;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 8px 0;
  margin-bottom: 8vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4vh;
  padding: 14px 20px;
  width: 200px;
}

.donation-button:hover {
  background: lightsalmon;
}

.donation-container {
  align-items: center;
  background: white;
  border: 1px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 5vh;
  margin-left: 4vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 80vw;
}

.donation-description {
  margin-left: 2vw;
}

.donation-options {
  background: orange;
  color: white;
  display: flex;
  font-size: 16px;
  margin-bottom: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 4px;
}

.donation-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
}

.favorites-button {
  background: brown;
  border: none;
  /* border-radius: 20px; */
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 8px 0;
  margin-bottom: 8vh;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 4vh;
  padding: 14px 20px;
  width: 200px;
}

.funding-raised-of-goal {
  margin-bottom: 2vh;
}

.hero-image {
  background-image: url("/assets/unsplash_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  position: relative;
}

.img-and-donation-container {
  margin-left: 10vw;
}

.info-container {
  background: white;
  border: 1px solid gray;
  margin-left: 10vw;
  margin-top: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  width: 80vw;
}

.link-highlight {
  color: darkorange;
  font-weight: bold;
}

.link-item {
  margin-bottom: 3vh;
}

.links-container {
  background: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 5vh;
  margin-left: 4vw;
  overflow-wrap: break-word;
  padding-bottom: 6vh;
  padding-left: 1vw;
  padding-top: 2vh;
  word-wrap: break-word;
  width: 80vw;
  /* margin-bottom: 4vh;
  margin-left: 10vw;
  margin-top: 8vh;
  padding-bottom: 4vh;
  padding-left: 1vw;
  padding-right: 1vw; */
}

.organization-container {
  background: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
  margin-left: 10vw;
  margin-top: 8vh;
  padding-bottom: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 80vw;
}

.org-info-title {
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.org-link {
  color: black;
  text-decoration: none;
}

.org-name {
  color: black;
  text-decoration: none;
}


.project-detail-background {
  /* margin-left: 5vw;
  margin-right: 5vw; */
  margin-top: 3vh;
  width: 80vw;
}

.project-detail-activities, .project-detail-longtermimpact, .project-detail-need {
  margin-bottom: 3vh;
  margin-top: 3vh;
  /* width: 50vw; */
}


.project-detail-org-name {
  margin-bottom: 6vh;
  margin-left: 10vw;
}

.project-detail-title {
  margin-left: 10vw;
}

.project-img {
  margin-left: 10vw;
  width: 80vw;
}

.project-link {
  color: black;
  text-decoration: none;
}

.usage-container {
  background: white;
  border: 1px;
  font-size: 18px;
  margin-left: 4vw;
  width: 80vw;
}  


/* CharityList */
.charity-card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-bottom: 4vh;
  padding-bottom: 2vh;
  width: 80vw;
}

.charity-card-text-container {
  margin-left: 1vw;
  margin-right: 1vw;
}

.charity-list {
  margin-left: 3vw;
}

.charity-list-img {
  width: 80vw;
}

.charity-list-top-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.funding-highlight {
  color: darkorange;
  font-weight: bold;
}

.main-title {
  margin-left: 3vw;
}

.project-summary {
  display: -webkit-box;
  margin-bottom: 3vh;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.project-title {
  font-size: 18px;
  margin-top: 1vh;
}


/* DropDownList.js */
.category-dropdown label {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.category-dropdown h3 {
  color: white;
  font-family: bavroregular;
  margin: 5px;
}
/* STYLE SECTION DROPDOWN */
.select-css {
  appearance: none;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: .5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  color: #444;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 290px;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, 
     and the second is the gradient. for the icon, if you want to change the color, be sure 
     to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon 
     or an external image reference
  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
  cursor: pointer;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.select-css option {
  font-weight:normal;
}
/* Support for rtl text, explicit support for Arabic and Hebrew.*/
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: greytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
  cursor: pointer;
}


/* Footer */
footer {
  background: darkorange;
  color: white;
  height: 12vh;
  padding-left: 3vw;
  padding-top: 4vh;
}



/* Loading */
.loading-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1em;
}


/* Logout */
.signout-button {
  background: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin-left: 2vw;
  /* margin-right: 60px; */
  text-transform: uppercase;
  /* &:hover {
    color:#fe5426;
    transform: scale(1.2);
  }
   @media(max-width: 600px) {
     display: none;
  } */
}

.logout-static-button {
  background: #ffcf3c;
  border: none;
  color: #000f3c;
  font-family: 'Raleway',sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  padding: 1.3rem 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s linear;
}
/* @media (max-width: 576px) {
  font-size: 1.5rem;
  text-align: center;
}
&:hover {
  color: #343078;
} */




/* Navbar */
.navbar-header-container {
  align-items: center;
  background: #FF8C00;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  padding: 2px;
  padding-left: 50px;
}

.navbar-header-title {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif, Arial, Helvetica;
  line-height: 0.7;
  margin-left: 1vw;
  /* margin-left: 3vw; */
}

.navbar-header-title a, .subnavbar-item a {
  color: white;
  text-decoration: none;
}


.subnavbar {
  align-items: baseline;
  background: orange;
  color: white;
  display: flex;
  height: 50px;
  /* text-transform: uppercase; */
}

.subnavbar-item {
  margin-left: 3vw;
  margin-top: 2vh;
}

.username-nav {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transform: uppercase;
/* &:hover {
  color:#fe5426;
} */
}


/* PopoverLogin */
.signin-button {
  background: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin-left: 2vw;
  margin-right: 4vw;
  text-transform: uppercase;
  /* 
   @media(max-width: 600px) {
     display: none;
  } */
}

.signin-button:hover {
  color:#fe5426;
  transform: scale(1.2);
}



/* ProgressBar */
.filler {
  background: lightsalmon;
  border-radius: inherit;
  height: 100%;
  transition: width .2s ease-in;
}

.progress-bar {
  border: 1px solid black;
  border-radius: 50px;
  height: 20px;
  margin-top: 2vh;
  position: relative;
  width: 50vw;
}


/* Registration */
/* .field-container {
  &.-focused label {
    bottom: auto;
    color: #888;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    top: 8px;
  }
  &.-focused input {
    line-height: 62px;
  }
} */


form {
  background: #ededed;
  border-radius: 8px;
  display: block;
  margin: 60px auto;
  max-width: 480px;
  padding: 20px 30px 30px 30px;
  /* @media(max-width: 500px) {
   max-width: 35vh;
  } */
}

.heading {
  border-radius: 15px;
  /* color: ${props => props.color ? props.color : "#000"}; */
  font-size: 1.5em;
  font-weight: normal;
  margin: 10px 0;
  text-align: center; 
  font-family: 'Raleway', sans-serif; 
}


input {
  background: transparent;
  border: none;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  border-radius: 3px;
  color: #333;
  display: block;
  font-size: 15px;
  line-height: 54px;
  margin: 10px 0px;
  padding: 0 10px;
  /* transition: border-color $standard-transition; */
  width: 100%;
  z-index: 2;
  /* &:focus, &:active {
    border-bottom: 2px solid black;
    border-color: #ededed;
    outline: none;
  } */
}

label {
  color: #666;
  display: block;
  font-size: 13px;
  line-height: 1px;
  padding: 10px;  
}




/* Searchbar */
.form-search {
  background: none;
  border-radius: 8px;
  display: block;
  margin: 10px;
  margin-bottom: 20px;
  margin-left: 4vw;
  max-width: 480px;
}

.search-line {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid #fe5426;
  font-size: 16px;
  width: 200px;
  /* &::placeholder {
    color: white;
    font-family: "Raleway", sans-serif;
  } */
}



/* MEDIA QUERIES */
@media(min-width: 768px) {
/* Charity Detail */
.donation-container {
  width: 30vw;
}
.donation-wrap {
  margin-left: 0;
}
.img-and-donation-container {
  display: flex;
  margin-left: 0;
}
.info-and-usage-wrap {
  display: flex;
  flex-direction: row;
}
.info-container {
  margin-left: 0;
  width: 40vw;
}
.links-container {
  width: 30vw;
}
.organization-container {
  margin-left: 0;
  width: 40vw;
}
.project-detail-background {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vh;
  width: 80vw;
}
.project-detail-container {
  display: flex;
  flex-direction: row;
}
.project-detail-org-name {
  margin-left: 20vw;
}
.project-detail-title {
  margin-left: 20vw;
}
.project-img {
  margin-left: 0;
  width: 42vw;
}
.usage-container {
  width: 30vw;
}

/* Charity List */
.charity-card {
  /* border-radius: 10px; */
  /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.568); */
  margin-bottom: 8vh;
  width: 30vw;
}
.charity-list {
  display: grid;
  grid-template-columns: repeat(3,3fr);
  grid-template-rows: repeat(3,3fr);
  margin: 0 auto;
  margin-left: 3vw;
  padding-left: 0;
}
.charity-list-img {
  width: 30vw;
}


/* Navbar */
.navbar-header-container {
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
}
.subnavbar {
  align-items: center;
}


/* ProgressBar */
.progress-bar {
  border: 1px solid black;
  border-radius: 50px;
  height: 20px;
  position: relative;
  width: 25vw;
}

/* Searchbar */
.form-search {
  margin-bottom: 10px;
}
.search-line {
  width: 250px;
}
}